version: "3"
services:
  frontend:
    container_name: frontend
    build: ./frontend  # Dockerfile for React.js exists in the frontend directory
    environment:
      - NODE_ENV=PROD
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend  # Dockerfile for Express.js exists in the backend directory
    ports:
      - "4000:4000"
      - "8080:8080"

    environment:
      - NODE_ENV=PROD
      - MONGO_URL=mongodb://mongo:27017/mydatabase  # MongoDB connection string
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  nginx:
    container_name: nginx
    # restart: unless-stopped
    image: nginx
    depends_on:
      - certbot
    ports:
        - 80:80
        - 443:443
    volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./certbot/conf:/etc/letsencrypt
        - ./certbot/www:/var/www/certbot  
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes: 
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email zeps.arnis@gmail.com -d storypointer.xyz --agree-tos
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
